.button {
  max-width: 9.35rem;
  width: 100%;
  height: fit-content;
  padding: .5rem 1rem;
  background-color: transparent;
  border-radius: 1.25rem;
  border-color: white;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: #FCEE6D;
  color: #29323F;
}

.button--rounded {
  max-width: 3rem;
  text-align: center;
  padding: .5rem;
}

