.button {
  max-width: 9.35rem;
  width: 100%;
  height: fit-content;
  padding: .5rem 1rem;
  background-color: transparent;
  border-radius: 1.25rem;
  border-color: white;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: #FCEE6D;
  color: #29323F;
}

.button--rounded {
  max-width: 3rem;
  text-align: center;
  padding: .5rem;
}

.button--close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  background-color: transparent;
  color: #29323F;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.button--close:hover {
  color: #626972;
  font-size: 1.2rem;
}

