.calendar {
  padding: 1rem 0;
}

.calendar__week-day {
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
  padding-bottom: .5rem;
  border-bottom: 1px solid #FCEE6D;
}

.calendar__day {
  padding: .5rem;
  text-align: center;
}

@media all and(min-width: 480px) {
  .calendar__day {
    padding: 1rem;
  }
}