.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 0vh;
  background-color: transparent;
  transition: background-color .3s ease;
  z-index: 10;
}

.--open {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  transition: background-color .3s;
}

.modal__content {
  position: relative;
  padding: 1rem;
  width: 70%;
  background-color: #FCEE6D;
  color: #29323F;
  border-radius: 5px;
  box-shadow: 3px 3px 15px 0px rgb(41 50 63 / 75%);
  transform: scale(0.0);
  transition: transform .3s;
  transition-delay: 0.15s;
}

.--open > .modal__content {
  transform: scale(1.0);
}